footer {
    position: relative;
    display: flex;
    padding: 1em;
    width: 100%;
    background-color: darkolivegreen;

    h4 {
        flex: 1 0 70%;
    }

    ul {
        flex: 1 0 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            a {
                text-decoration: none;
            }
        }
    }
}
