header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(152, 152, 155);
    width: 100%;
    padding: 0 1em;

    h1 {
        flex: 1 0 60%;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1 0 40%;

        li {
            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: rgb(129, 219, 255);
                }
            }
        }
    }
}
